/* EXPERIENCE SECTION */

#experience {
  position: relative;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  padding: 2rem;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

#experience .title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#experience p {
  color: var(--text-secondary);
  font-size: 1.5rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

#experience .btn {
  background-color: var(--accent-color);
  color: var(--bg-primary);
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#experience .btn:hover {
  background-color: var(--bg-primary);
  color: var(--accent-color);
}
